# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NumericOverflow/NumericOverflow/.vs/NumericOverflow/v16/Browse.VC.db
NumericOverflow/NumericOverflow/.vs/NumericOverflow/v16/Browse.VC.db-shm
NumericOverflow/NumericOverflow/.vs/NumericOverflow/v16/Browse.VC.db-wal
NumericOverflow/NumericOverflow/.vs/NumericOverflow/v16/Browse.VC.opendb
NumericOverflow/NumericOverflow/.vs/NumericOverflow/v16/ipch/AutoPCH/6c5f90a8330b063b/NUMERICOVERFLOW.ipch
NumericOverflow/NumericOverflow/.vs/ProjectSettings.json
NumericOverflow/NumericOverflow/.vs/slnx.sqlite
